@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col-md-4">
        <img src="~/images/logo.png" asp-append-version="true" />
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
   </div>
</div>
